<%= provide(:title, "Perfil de usuario") %>

<div class="row">
  <div class="span4 offset4">
    <div class="h1_forms">
      <h1>Edita tus datos</h1>
    </div>

    <%= render 'user_form', text_button: "Actualizar mis datos" %>

  </div>  
</div>
