<%= provide(:title, "Registro") %>

<div class="row">
  <div class="span4 offset4">
    <div class="h1_forms">
      <h1>Regístrate</h1>
    </div>
    
    <%= render 'user_form', text_button: "Crear mi cuenta" %>
       
    Si ya tienes una cuenta, puedes <%= link_to "iniciar sesión", entrar_path %>.
  </div>  
  

</div>
