<% provide(:title, "Editar categoría") %>

<div class="row">
  <div class="span6 offset3">
    <div class="h1_forms">
      <h1>Modifica la categoría</h1>
    </div>

    <%= render 'category_form', button_text: "Actualizar datos" %>

  </div>
</div>
