<% provide(:title, "Categorías") %>

<div class="row">
  <div class="span6 offset3">
    <div class="h1_forms">
      <h1>Listado de categorías</h1>
    </div>

    <h3>
      <%= link_to "Añadir categoría", new_category_path, class: "btn btn-primary" %> </h3>

<div class="paginate">
  <%= will_paginate %>
</div>

<% if @categories.empty? %>
  <p><h4>Todavía no hay ninguna categoría.</h4></p>
<%end%>

<% @categories.each do |category| %>
<div class="categories">
  
  <h4> <%= category.name.capitalize%> 
    <small><%= "("+category.parent.capitalize+")" unless category.parent.blank? %> </small>
  </h4>

  <div class="categories_buttons">
    <% warning_message= "¿Estás seguro que deseas eliminar esta categoría" %>
    <% warning_message+= " y todos sus datos asociados (#{category.datum.name})" if category.datum %>
    <% warning_message+= "?" %>
      
    <%= link_to "Modificar datos", edit_category_path(category), class: "btn btn-info" %>
    <%= link_to "Eliminar categoría", category_path(category), method: :delete, class: "btn btn-danger", confirm: warning_message %>
  </div>

</div>
<% end %>

<div class="paginate">
  <%= will_paginate %>
</div>

  </div>
</div>
