<label class="checkbox menu-elements">

  <input type="checkbox" name="#<%= name_link %>" id="<%= category_id %>" class="menu_checkbox <%= parent %>">
  <%= link_to "", data_category_path(category_id), remote: true, method: :post, id: category_id.to_s+"_link" %>
  
  <a href="#<%= name_link %>" data-parent="#<%= parent %>" 
     data-toggle="collapse" style="font-size: <%= 100-((indent-1)*3)  %>%;">
    <%= name.capitalize %>
  </a>

</label>
