<!-- accordion-body  -->
<div id="<%= parent_link %>" class="collapse"> 
    
  <% sub_categories=sub_categories(parent_name) %>
  <% sub_categories.each do |sub_category| %>
    
    <% category_id=sub_category._id %>
    <% name=sub_category.name %>
    <% name_link=sub_category.name.delete(" ") %>
    <% have_sub_categories= have_sub_categories?(name) %>
    
    <!-- accordion-inner  -->
    <div class="menu-inner" style="padding-left: <%= 14*indent %>px;"> <!-- separacion -->
      <%= render 'menu_element', name: name, name_link: name_link, parent: parent_link, indent: indent+1, category_id: category_id %>
    </div>
    
    <% if have_sub_categories %>
      <div class="accordion-group menu-group">
	<%= render 'menu_category', parent_name: name, parent_link: name_link, indent: indent+1 %>
      </div>
    <% end %>
      
  <% end %>

</div>
