<% provide(:title, 'Acerca de') %>

<div class="span12">
  <div class="hero-unit" style="background-color: white;">
    <div class="about">

      <p><%= image_tag("about_sigiem.png", alt: "SIGIEM") %></p>
      
      <h2>Sistema de Información Geográfico Integrado, Energético y Medio ambiental</h2>
      
      <p>Se enmarca dentro del proyecto <a href="http://www.cytema.es/innocampus/">INNOCAMPUS</a> 
      y ha sido desarrollado por <%= link_to "David Antonio Pérez Zaba", "http://www.dpzaba.com"%> en
      el <a href="http://alarcos.esi.uclm.es">grupo Alarcos</a> de la <a href="http://www.uclm.es">Universidad de Castilla La Mancha (UCLM)</a>. Es un <a href="http://projects.dpzaba.com/sigiem">proyecto de software libre</a> desarrollado con 
      <%= link_to "Ruby on Rails", "http://rubyonrails.org" %>,
      <%= link_to "Bootstrap", "http://twitter.github.com/bootstrap" %>,
      <%= link_to "MongoDB", "http://www.mongodb.org" %> 
      <%= link_to "(MongoMapper)", "http://www.mongomapper.com" %>,
      <%= link_to "Leaflet", "http://www.leafletjs.com" %>,
      utilizando el servicio de mapas de
      <%= link_to "CloudMade", "http://www.cloudmade.com"%>.
      </p>

    

      Algunos de los datos utilizados se han obtenido de:
      <ul>
	<li> 
	  <%= link_to "INAP: Consejería de Agricultura de Castilla La Mancha", "http://agricultura.jccm.es/inap/" %>
	</li>
	<li>
	  <%= link_to "IMOVIP: Consejería de Agricultura de Castilla La Mancha", "http://agricultura.jccm.es/imovip/" %>
	</li>
	<li>
	  <%= link_to "Centrales Nucleares ALMARAZ-TRILLO", "http://www.cnat.es/cnatweb/" %>  
	</li>
      </ul>


      <p> Si quieres ponerte en contacto con nosotros, escríbenos a:
      <script type="text/javascript">
	sigiem_contact()  
      </script>
      </p>

      <p>
	<a class="btn btn-primary btn-large" href="/">
	  Quiero probarlo
	</a>
      </p>


    </div>
  </div>
</div>

