<div class="alert_form">
  Alerta
  <%= form_parent.fields_for 'alert', alert do |f| %>

    <p>
      <%= f.label :limit_sup, "Límite superior" %>
      <%= f.number_field :limit_sup %>
    </p>

  <p>
    <%= f.label :limit_inf, "Límite inferior" %>
    <%= f.number_field :limit_inf %>
  </p>

  <% end %>
</div>
