<% sensors.each do |sensor| %>

  <div class="sensor">
    Sensor
    <%= form_parent.fields_for "sensors", sensor, index: nil do |f| %>
      
      <p>
	<%= f.label :name, "Nombre" %>
	<%= f.text_field :name %>
      </p>

    <p>
      <%= f.label :type, "Tipo" %>
      <%= f.text_field :type %>
    </p>

    <div class="alerts">
      <%= render 'alert_form', alert: sensor.alert, form_parent: f %>
    </div>

  <% end %>
  </div>
  
<% end %>
