<% provide(:title, "Configurar alertas") %>

<div class="row-fluid">
  <div class="span4 offset4">
    <div class="h1_forms">
      <h1>Configura las alertas</h1>
    </div>

    <%= render 'device_form', text_button: "Actualizar alertas" %>

  </div>
</div>
