<% provide(:title, "Dispositivos") %>

<div class="row-fluid">
  <div class="span6 offset3">
    <div class="h1_forms">
      <h1>Dispositivos</h1>
    </div>
    
    <% if @devices.empty? %>
    <p>
      <h3>
      No hay dispositivos que hayan enviado información.
      </h3>
    </p>
    <% else %>
       <%= render @devices %>
    <% end %>
    
  </div>
</div>
