L.Icon.Default.imagePath="/assets";
var layer_sensors=new L.LayerGroup();
var marker_sensor=null;

<% @devices.each do |device| %>

  marker_sensor=L.marker([<%= device.lat %>,<%= device.long %>]);
  var info="Dispositivo: "+"<b><%= device.name.capitalize %></b>"+"</br>"
  
  <% device.sensors.each do |sensor| %>
    info+="<b>"+ "<%= sensor.name.to_s %>"+"</b>: "
    <% last_value=sensor.values.last.to_s %>
    <% if last_value %>
      info+="<%= sensor.values.last.to_s%>"
    <% end %>
    info+="</br>"
  <% end %>

  marker_sensor.bindPopup(info);
  layer_sensors.addLayer(marker_sensor)

<% end %>
//cache
layer_cache["sensors"]=layer_sensors;
layer_cache["sensors"].addTo(map);


