<% provide(:title, "Añadir dispositivo") %>

<div class="row-fluid">
  <div class="span4 offset4">
    <div class="h1_forms">
      <h1>Añade un dispositivo</h1>
    </div>

    <%= render 'device_form', text_button: "Crear dispositivo" %>

  </div>
</div>
