@import "bootstrap";
@import "bootstrap-responsive";

.all{
    margin-left: 10px;
    margin-right: 10px;
}


/* debug */

@mixin box_sizing {
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

.debug_dump {
    /*clear: both;
    float: left;*/
    width: 100%;
    margin-top: 45px;
    @include box_sizing;

}


/*Text SIGIEM top-menu*/
#sigiem {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
}

@media (min-width: 981px) {
    body {
	padding-top: 60px;
    }
}

body {
    padding-bottom: 40px;
}


/* footer */

footer {
    margin-top: 15px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #999;
    margin-left: 10px;
    margin-right: 10px;
}

footer a {
    color: #555;
}  

footer a:hover { 
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 10px;
}

/*about*/
.about {
    margin-left: 10px;
    margin-right: 10px;
}

.about img{
    display: block;
    margin: auto;
    padding-bottom:10px;
    height: 220px;
}


/* menu (left) */
.menu-elements {
    font-size: 120%;
    display: inline-block;
}

.menu-inner{
    padding-top: 5px;
    padding-bottom: 4px;
}

.menu-group{
    border:0px;
}

.menu-button{
    margin-top: 20px;
    margin-bottom:10px;
    margin-right:20px;
    visibility: hidden;
}

.menu-button a {
    width: 100%;
}
/* map */
.sigiem-map {
    min-height: 300px;
    min-width: 220px;
}

/* logo */
.logo {
    padding-bottom:10px;;

    background-color: white;
    border:0px;
    
    display: block;
    margin: auto;
}

.logo_uclm{
    text-align: center;

    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 1px;
    
    /*show logo in tablets and mobile phones*/
    @media (max-width: 981px) {
	margin-top:-45px;
    }

}

.logo_uclm img {
    height: 32px;
}

/* searchbox */
.searchbox-partial{
    text-align:center;
    padding-bottom:15px;
}

.searchbox{
    margin: 0px auto;
    width: 100%;
}

/* errors forms */
/* http://ruby.railstutorial.org/chapters/sign-up.html#sec-signup_error_messages */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 20px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


/*form titles*/
.h1_forms{
    margin-top: 50px;
    margin-bottom: 10px;
    text-align:center;
}


/* sign up, sign in, search_bar...*/
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  /*@include box_sizing;*/
}

/* users (index) */
.user_snippet{
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 1px solid #eaeaea;
}

.user_snippet big{
    margin-right:10px;
    font-weight: bold;
}

.user_delete{
    margin-bottom: -40px;
    margin-top: -25px;
    text-align: right;
}

/*servers WMS*/
.serversWms{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
}

.server_buttons{
    margin-top:5px;
    text-align: right;
}

/*categories*/

.categories{
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
}

.categories_buttons{
    margin-top:10px;
    text-align: right;
}

/* paginate */

.paginate{
    text-align:center;
}

/*data*/
.datum{
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
}

/* loading / wait image*/
.wait_image{
    display:none;
    text-align:center;
}

/*info alerts*/
.div_alerts{
    text-align: center;
}

/* devices */
.devices{
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
}

.devices_buttons{
    margin-top:10px;
    text-align: right;
}

/* record alert */
.record_alert{
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
    margin-bottom:10px;
}

.record_alert li{
    margin-top: 20px;
}

.record_alert small{
    color: gray;
}
