<div class="row-fluid">

    <div class="datum">

      <p class="pull-left"> 
	Nombre: <strong> <%= datum.name %> </strong>
	<br />
	<small>Categoría:</small> <%= datum.category.name %>
      </p>

    </div>

    <%= link_to "Eliminar datos", datum, method: :delete, class: "btn btn-danger pull-right", 
    data:{ confirm: "¿Estás seguro de que quieres eliminar los datos de #{datum.name} de la categoría #{datum.category.name}?"} %>


</div>
