<% provide(:title, "Datos guardados") %>

<div class="row-fluid">
  <div class="span6 offset3">

    <div class="h1_forms">
      <h1>Datos guardados</h1>
    </div>
      
    <%= link_to "Añadir datos", new_datum_path, class: "btn btn-primary" %>
   
    <% @data.each do |datum| %>
      <%= render 'datum', datum: datum  %>
    <% end %>

  </div>
</div>