<div class="row-fluid">
  <div class="span12">
    
    <footer class="footer">

      <small>
	<%= link_to "SIGIEM", "https://bitbucket.org/dpzaba/sigiem" %>  realizado con: 
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>,
	<%= link_to "Bootstrap", "http://twitter.github.com/bootstrap" %>,
	<%= link_to "MongoDB", "http://www.mongodb.org" %>,
	<%= link_to "CloudMade", "http://leaflet.cloudmade.com"%>.
      </small>

      <nav>
	<ul>
	  <li><%= link_to "Acerca de",   acerca_path %></li>
	</ul>
      </nav>

    </footer>

  </div>
</div>
