<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <%= link_to "SIGIEM",root_path, class:"brand", id: "sigiem" %>
      
      <!-- user menu -->
      <div class="btn-group pull-right">
	<% if signed_in? %>
	<% button_path="#" %>
	<% button_label="Menú de "+ current_user.name+"." %>
	<% data_toggle="dropdown"%>
	<% else %>
	<% button_path=entrar_path %>
	<% button_label="Iniciar sesión" %>
	<% data_toggle="#"%>
	<% end %>

	<a class="dropdown-toggle btn" data-toggle=<%= data_toggle %>
	href=<%= button_path %> >
	<i class="icon-user"></i> 
	<%= button_label%>

	<% if signed_in? %>
	<span class="caret"></span>
	<% end %>
      </a>
      
      <% if signed_in? %>
      <ul class="dropdown-menu">
	<li>
	  <%= link_to "Modificar mis datos", edit_user_path(current_user) %>
	</li>

	<% if admin? %>
	<li class="divider">
	</li>
	<li>
	  <%= link_to "Gestionar usuarios", users_path %>
	</li>
	<li>
	  <%# link_to "Gestionar servidores WMS", wms_servers_path %>
	</li>
	<li>
	  <%= link_to "Gestionar categorías", categories_path %>
	</li>
	<li>
	  <%= link_to "Gestionar datos", data_path %>
	</li>
	<li class="divider">
	</li>
	<li>
	  <%= link_to "Configurar Alertas", devices_path %>
	</li>
	<li>
	  <%= link_to "Registro de alertas", record_alerts_path %>
	</li>
	<li>
	  <%= link_to "Emulador de sensores", emulator_path %>
	</li>
	<% end %>

	<li class="divider">
	</li>

	<li>
	  <%= link_to "Salir", salir_path, method: "delete", confirm: "¿Estás seguro de que deseas cerrar la sesión?" %>
	</li>
      </ul>
      <% end %>
      
    </div> <!-- user menu -->

    <!-- navigation bar collapse -->
    <div class="nav-collapse">
      <ul class="nav">
	<li>
	  <%= link_to "Inicio", root_path %>
	</li>
	<li>
	  <%= link_to "Acerca de", acerca_path %>
	</li>
	<li>
	  <%= link_to "Regístrate", registrate_path  unless signed_in?%>
	</li>
      </ul>
    </div><!--/.nav-collapse -->
    
    <div class="logo_uclm">
      <%= image_tag "logo_uclm.png", alt: "UCLM" %>
    </div>

  </div>
</div>
</div>
