<% provide(:title, "Entrar") %>

<div class="row">
  <div class="span4 offset4">
    <div class="h1_forms">
      <h1>Inicia sesión</h1>  
    </div>


    <%= form_tag sessions_path do %>
      
      <%= label_tag :email, "Email" %>
      <%= text_field_tag :email, params[:email] %>
      
      <%= label_tag :password, "Contraseña" %>
      <%= password_field_tag :password, params[:password] %>

      <%= submit_tag "Entrar",  class: "btn btn-large btn-primary" %>
			      
    <% end %>


Si no tienes una cuenta, puedes <%= link_to "crear una", registrate_path %>.
    
  </div>  
</div>
