<div class="row-fluid">
  <div class="span6 offset3">
  
    <div class="h1_forms">
      <h1>Enviar información del sensor</h1>
    </div>
    
    <p> Dispositivo <strong><%= @device.name.capitalize %></strong> (<%= @device.lat.to_s+", "+@device.long.to_s %>)</p>

    <p>Sensor:
      <ul>
	  <li>
	    <strong><%= @sensor.name.capitalize %></strong>
	    <% if not @alert.nil? %>
	      - Valor
	      <% if not @alert.limit_inf.nil? %>
                     mínimo: <%= @alert.limit_inf %>, 
	      <% end %>
	      <% if not @alert.limit_sup.nil? %>
	             máximo: <%= @alert.limit_sup%>
	      <% end %>
	    <% end %>
	    <br />
	    Envía:
	    <%= @sensor.values.to_s %>
	  </li>
      </ul>
    </p>
    
    <%data={device_name: @device.name, device_lat: @device.lat, device_long: @device.long,
      sensor_name: @sensor.name, sensor_type: @sensor.type, sensor_values: @sensor.values,
      alert_limit_sup: @alert.limit_sup, alert_limit_inf: @alert.limit_inf} %>

    <%= link_to "Enviar datos", sensors_data_path(data), remote: true, method: :post, id: "send_data", class: "btn btn-primary btn-large" %>
    <%= link_to "Cancelar", :back,  class: "btn btn-inverse btn-large" %>
  </div>

</div>
