<% provide(:title, "Editar servidor WMS") %>

<div class="row">
  <div class="span6 offset3">
    <div class="h1_forms">
      <h1>Actualiza los datos del servidor</h1>
    </div>

    <%= render 'server_form', button_text: "Actualizar datos" %>

  </div>
</div>
