<% provide(:title, "Servidores WMS") %>

<div class="row">
  <div class="span6 offset3">
    <div class="h1_forms">
      <h1>Listado de servidores WMS</h1>
      <h4> <small>(Hay un total de <%= @wms_servers.count %>)</small></h4>
    </div>

    <h3><%= link_to "Añadir servidor WMS", new_wms_server_path, class: "btn btn-primary" %></h3>

<div class="paginate">
  <%= will_paginate %>
</div>

<% if @wms_servers.empty? %>
<p>
  <h4>Todavía no hay ningún servidor WMS.</h4>
</p>
<%end%>

    <% @wms_servers.each do |server| %>
      <div class="serversWms">
	<h4> <%= server.name.capitalize %> </h4>
        <h5><small><%= server.url %></small></h5>
	
	<div class="server_buttons">
		<%= link_to "Modificar datos", edit_wms_server_path(server), class: "btn btn-info" %>
	<%= link_to "Eliminar servidor", wms_server_path(server), method: :delete, class: "btn btn-danger", data: { confirm: "¿Estás seguro que deseas eliminar este servidor?"} %>
	</div>
	
      </div>
      
    <% end%>

<div class="paginate">
  <%= will_paginate %>
</div>

  </div>
</div>
