<% provide(:title, "Añadir WMS") %>

<div class="row">
  <div class="span6 offset3">
    <div class="h1_forms">
      <h1>Añade un servidor WMS</h1>
    </div>

    <%= render 'server_form', button_text: "Añadir servidor" %>

  </div>
</div>
