<div class="record_alert">
  <%= link_to "Borrar todas", record_alert_path(record_alert), method: :delete, class: "btn btn-danger pull-right", confirm: "¿Está seguro de borrar todas las alertas del sensor: #{record_alert.sensor.name}?" %>

  <small>Dispositivo:</small> <strong><%= record_alert.sensor.device.name.capitalize %></strong> 
  <br />
  <small>Sensor:</small> <strong><%= record_alert.sensor.name.capitalize %></strong>
  
   
  
  <ul>
    <% record_alert.record.each_with_index do |record, index| %>
      <li>
	Valor: <%= record["value"]%> 
	<small>(<%= record["time"]%>)</small>
	<%= link_to "Borrar", destroy_record_path(alert: record_alert.id, record: index), method: :delete, class: "btn btn-inverse btn-mini pull-right"%>
      </li>
    <% end %>
  </ul>
</div>
