<% provide(:title, "Alertas") %>

<div class="row-fluid">
  <div class="span6 offset3">

    <div class="h1_forms">
      <h1>Registro de alertas</h1>
    </div>
    <br />
    <% if @record_alerts.empty? %>
      <h4>No hay ninguna alerta</h4>
    <% else %>
      <div class="record_alerts">
	<% @record_alerts.each do |alert| %>
	  <%= render "record_alert", record_alert: alert%>
	<% end %>
      </div>
    <% end %>
    
  </div>
</div> 
