<% text_verb="ha" %>
<% text_alert="alerta" %>
<% text_sensor="sensor" %>

<% if  @info[:number_of_alerts] > 1 %>
<% text_verb="han" %>
<% text_alert="alertas" %>
<% end %>

<% if @info[:number_of_sensors]>1 %>
<% text_sensor="sensores" %>
<% end %>

<% message="Se #{text_verb} detectado #{@info[:number_of_alerts]} #{text_alert} en #{@info[:number_of_sensors]} #{text_sensor}" %>

<% if @info[:exist] %>
  <div class="alert alert-info">
    <%= link_to message, record_alerts_path %>
  </div>
<% end %>
